
<br />

<div class="container">
    <div class="row">
        <a href="@Url.CreateProtectedUrl(ViewContext, "gonder", "home", new { islemId = 1, kullaniciId = 2 })" 
           class="btn btn-default">Güvenli Link</a>
    </div>
</div>